*,::before::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family:sans-serif;
}
.l-form{
    background: linear-gradient(rgb(25, 9, 9),rgb(59, 59, 185));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form{
    background-color: rgb(251, 250, 255);
    width: 360px;
    height: 25rem;
    padding: 4rem 2rem;
    border-radius: 20px;
    box-shadow: 0 5px 32px 5px rgb(9, 190, 236);
}
.form_title{
    margin: 0;
    font-weight: 400;
    margin-bottom: 2rem;
}
.form_div{
    position: relative;
    height: 48px;
    margin-bottom: 2.5rem;
}
.form_input{
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid rgb(32, 166, 166) ;
    border-radius: .9rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}
.form_button{
    display: block;
    padding: .5rem 2rem;
    outline: none;
    border: none;
    background-color: blue;
    margin-bottom: 20px;
    border-radius: 40px;
    color:  rgb(251, 250, 255);
}

a{
    text-decoration: none   ;
}